<?xml version="1.0" encoding="UTF-8" ?>
<table xmlns="http://query.yahooapis.com/v1/schema/table.xsd">
	<meta>
		<author>Sebastian Spier (http://twitter.com/#!/sebastianspier/)</author>
		<description>Springer API </description>
		<documentationURL>http://dev.springer.com/docs</documentationURL>
		<sampleQuery>SELECT * FROM {table}</sampleQuery>		
	</meta>
	<bindings>
		<select itemPath="json" produces="JSON">
			<urls>
				<url env="all">http://api.springer.com/metadata/json</url>
			</urls>
			<paging model="page">
				<start id="s" default="1" />
				<pagesize id="p" max="100" />
				<total default="100" />
			</paging>
			<inputs>
				<key id="api_key" type="xs:string" paramType="query" required="true" />
				<key id="q" type="xs:string" paramType="query" />
			</inputs>	
		</select>		
	</bindings>
</table>
